<div class="hero-unit">
        <h1>Welcome to GamePlaydate!</h1>
        <p>This is the Gaming Network for Parents, Professionals, and other busy people. Get the most out of your gaming experience by scheduling meet-ups and keeping all your profiles in one place!</p>
        <p><%= link_to "Sign up", "http://signup.gameplaydate.com", class: "btn btn-large btn-primary" %></p>
      </div>
      
    