<% provide(:title, 'Home') %>

<% if signed_in? %>
  <% if signed_in? %> 
   <div class= "span8">
   <h3>Pending Invites</h3>
   <%= render 'shared/events/pending' %>  
   <h3>Upcoming Events</h3>
   <%= render 'shared/events/upcoming' %>
   <h3>Friend Requests</h3>
   <%= render 'shared/friendships/requests'%>
   </div> 
   <%else%>
   
   <%end%>
<%else%>
<div class="hero-unit">
        <h1>Welcome to GamePlaydate!</h1>
        <p>This is the Gaming Network for Parents, Professionals, and other busy people. Get the most out of your gaming experience by scheduling meet-ups and keeping all your profiles in one place!</p>
        <p><%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %></p>
      </div>
      
      <div class="row">
              <div class="span4">
                <h2>Schedule</h2>
                <p>We love playing games, but we also love keeping the rest of our lives in order. Schedule your online time so your friends know when to meet you. </p>
                <p><a class="btn" href="#">View details »</a></p>
              </div>
              <div class="span4">
                <h2>Plan</h2>
                <p>Keep all your profiles in one place so your friends know where to find you.</p>
                <p><a class="btn" href="#">View details »</a></p>
             </div>
              <div class="span4">
                <h2>Have Fun</h2>
                <p>Because your playing with you're friends, there's no need to be harassed!</p>
                <p><a class="btn" href="#">View details »</a></p>
              </div>
            </div>


<%end%>     