<% provide(:title, 'Home') %>
<h1>GamePlayDate</h1>


<% if signed_in? %>

   <div class= "span8">
   <h3>Pending Invites</h3>
   <%= render 'shared/events/pending' %>  
   <h3>Upcoming Events</h3>
   <%= render 'shared/events/upcoming' %>
   <h3>Friend Requests</h3>
   <%= render 'shared/friendships/requests'%>
   </div> 
<%else%>

<%end%>     