<% provide(:title, 'Home') %>
<h1>GamePlayDate</h1>

<% if signed_in? %>
   <div class= "span8">
   <h3>Pending Invites</h3>
   <%= render 'shared/pending' %>  
   <h3>Upcoming Events</h3>
   <%= render 'shared/upcoming' %>
   <h3>Friend Requests</h3>
   <%= render 'shared/requests'%>
   </div> 
<%else%>

<%end%>     