<% unless current_user?(@user) %>
  <div id="friend_form<%=@user.id%>">
  <% if current_user.following?(@user) %>
    <%= render 'unfriend' %>
  <% else %>
    <%= render 'friend' %>
  <% end %>
  </div>
<% end %>