<h1>Editing Event</h1>

<%= render 'shared/events/events_form' %>

<%= link_to "Delete Event", user, method: :delete,
                              data: { confirm: "You sure?" } %>

<%= link_to 'Back', my_events_path %>
