<% if current_user?(invite.user) %>
  <div id="<%=invite.id%>", class="rsvp">
  <% if invite.status == "accepted" %>
    <%= render :partial => '/shared/invites/cancel', locals: { invite_id: invite.id }%>
  <% else %>
    <%= render :partial => '/shared/invites/accept', locals: { invite_id: invite.id }%>
  <% end %>
  </div>
<% end %>