<% provide(:title, 'Games') %>

<table>
  <tr>
    <th>Name</th>
    <th>Platform</th>
    <th>Status</th>
  </tr>
  
  
    <%= render @games %>

  
</table>




<p>Don't see what you have here? <%= link_to "Enter a game into the database.", new_game_path %></p>
