<footer class="footer">
  <small>
    <a href="http://gameplaydate.com">Gameplaydate</a>
    by James Strocel
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
  <%= debug(params) if Rails.env.development? %>
</footer>
